<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="author" content="stark.shang" />
    <meta name="description" content="This is a navbar demo" />
    <title>@ViewBag.Title</title>
    @RenderSection("Style")
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css">
</head>
<body id="Body">
    @RenderBody()
    @RenderSection("Script")
</body>
</html>
